<div id="books">
<h3>My Books about Redis</h3>
<table style="margin-top:10px"><tbody><tr><td>
                <a href="http://bit.ly/1yPlraY" target="_blank"><img style="max-height:150px;float:left" src="https://dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/6713OS_Redis%20Applied%20Design%20Patterns_Cover.jpg"></a>
                </td><td style="padding-left:20px">
                <div><a href="http://bit.ly/1yPlraY" target="_blank">Redis Applied Design Pattern</a>
                    <br>This book covers real life examples and use-cases for Redis along with code samples.</div>
</td></tr></tbody></table>
<table><tbody><tr><td>
                <a href="https://www.packtpub.com/big-data-and-business-intelligence/instant-redis-optimization-how-instant" target="_blank"><img style="max-height:150px;float:left" src="https://dgdsbygo8mp3h.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/4807OS_cov.jpg"></a>
                </td><td style="padding-left:20px">
                <div><a href="https://www.packtpub.com/big-data-and-business-intelligence/instant-redis-optimization-how-instant" target="_blank">Redis Optimization</a>
                    <br>This Book covers some basic optimization techniques to get advantage of Redis.</div>
</td></tr></tbody></table>
</div>
